{
  "root": true,
  "extends": [
    "universe/web",
    "universe/shared/typescript-analysis",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "global-require": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "no-console": [
      "warn",
      {
        "allow": [
          "info",
          "warn",
          "error"
        ]
      }
    ]
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "allowAutomaticSingleRunInference": true,
    "cacheLifetime": {
      "glob": "Infinity"
    },
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": [
        "src/**/*.tsx",
        "src/**/*.ts"
      ]
    }
  ]
}