@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, Helvetica, system-ui, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  overflow: clip;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@layer utilities {
  .title {
    font-family: Tahoma, system-ui, sans-serif;
  }
}
